@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: black;
}

.grid-container {
    display: grid;
    /* Unequal row heights */
    grid-template-rows: 2fr 1fr; 
    height: 100vh; /* Full viewport height */
    gap: 10px; /* Space between grid items */
    padding: 10px;
}

.row-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns*/
    gap: 10px; /* Space between grid items */
    padding: 10px 10px 0px 10px;
}

.row-2{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 10px;
    padding: 0px 10px 10px 10px;
}

.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; 
    /* border-radius: 8px; */
}


.red{
    grid-row: span 2;
    background-color: rgb(244,45,85);
    border-top-left-radius: 10px; 
}

.peach{
    background-color: rgb(250,225,215);
    font-family: 'Varela Round';
    font-size: 2em;
}

.black{
    background-color: rgb(26, 26, 26);
    color: white;
    font-family: 'Pacifico', 'Brush Script MT', cursive;
    font-size: 3em;
    font-weight: 100;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
.purple{
    grid-row: span 2;
    background-color: rgb(185,180,255);
    border-top-right-radius: 10px;
}
.green{
    background-color: rgb(167,250,170);
    font-weight: bold;
    font-size: 3em;
    border-bottom-left-radius: 10px;
}
.peach-corner{
    background-color: rgb(250,225,215);
    font-size: 2em;
    font-style: oblique;
    font-family: cursive;
    font-weight: bold;
    border-bottom-right-radius: 10px;
}

.pencil {
    font-size: 40px; /* Increase icon size */
    color: white; /* Pencil icon color */
}

.incognito {
    font-size: 40px; /* Increase icon size */
    color: rgb(63, 63, 63); /* Pencil icon color */
}
