* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: black;
}

.grid-container {
    display: grid;
    
    
    /* Unequal row heights */
    grid-template-rows: 2fr 1fr; /* First row 100px, second row 200px, third row takes the remaining space */
    
    height: 100vh; /* Full viewport height */
    gap: 10px; /* Space between grid items */
    padding: 10px;
}

.row-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns*/
    gap: 10px; /* Space between grid items */
    padding: 10px 10px 0px 10px;
}

.row-2{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 10px;
    padding: 0px 10px 10px 10px;
}

.grid-item{
    /* background-color: #4CAF50; */
    /* color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; 
    /* border-radius: 8px; */
}


.red{
    grid-row: span 2;
    background-color: rgb(244,45,85); 
}

.peach{
    background-color: rgb(250,225,215);
}

.black{
    background-color: black;
    color: white;
}
.purple{
    grid-row: span 2;
    background-color: rgb(185,180,255);
}
.green{
    background-color: rgb(167,250,170);
}
.peach-corner{
    background-color: rgb(250,225,215);
}

